/* one directive */
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: Roboto;
}

nav,
.logo,
h1,
h2,
h3 {
  font-family: Orbitron;
}

/* From Uiverse.io by StealthWorm */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: 300% 300%;
  cursor: pointer;
  backdrop-filter: blur(1rem);
  border-radius: 1rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 2px transparent;
  color: white;
  background-image: linear-gradient(#212121, #212121),
    linear-gradient(137.48deg,
      #ffdb3b 10%,
      cyan 45%,
      #8f51ea 67%,
      #0044ff 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: transform 0.5s, opacity 0.5s;
}

.btn::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(45deg, #4f46e5, #7c3aed);
  border-radius: 0.5rem;
  z-index: -1;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 1rem;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: cyan;
}

.circle:nth-of-type(2) {
  background: purple;
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  border: double 4px cyan;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

/* .btn:active .circle {
  background: cyan;
} */

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.vibrate-1 {
  -webkit-animation: vibrate-1 6s ease-in-out 10ms infinite both;
  animation: vibrate-1 6s ease-in-out 10ms infinite both;
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.heartsecurity {
  -webkit-animation: heartsecurity 50s linear infinite both;
  animation: heartsecurity 50s linear infinite both;
}

@-webkit-keyframes heartsecurity {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartsecurity {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.hvr-icon-spin {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-icon-spin .hvr-icon {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.group:hover .hvr-icon-spin .hvr-icon,
.group:focus .hvr-icon-spin .hvr-icon,
.group:active .hvr-icon-spin .hvr-icon {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.path-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.label-dot {
  width: 8px;
  /* w-2 */
  height: 8px;
  /* h-2 */
  background-color: #4b5563;
  /* bg-gray-600 */
  border-radius: 9999px;
  /* rounded-full */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#path-1:checked~#path-container #path-group-1 {
  display: grid;
  opacity: 1;
  position: relative;
  transform: translateY(0);
}

#path-1:checked~#path-container #pagination-dots #label-1 {
  width: 32px;
  /* w-8 */
  background-color: #00D3F3;
  /* bg-blue-500 */
}

#path-1:checked~#path-container #pagination-dots #label-2 {
  width: 8px;
  /* w-2 */
  background-color: #4b5563;
  /* bg-gray-600 */
}

#path-2:checked~#path-container #path-group-2 {
  display: grid;
  opacity: 1;
  position: relative;
  transform: translateY(0);
}

#path-2:checked~#path-container #pagination-dots #label-1 {
  width: 8px;
  /* w-2 */
  background-color: #4b5563;
  /* bg-gray-600 */
}

#path-2:checked~#path-container #pagination-dots #label-2 {
  width: 32px;
  /* w-8 */
  background-color: #00D3F3;
  /* bg-blue-500 */
}

.ai-matrix-loader {
  width: 120px;
  height: 160px;
  margin: 30px auto;
  position: relative;
  perspective: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.digit {
  color: cyan;
  font-family: monospace;
  font-size: 24px;
  text-align: center;
  text-shadow: 0 0 5px cyan;
  animation:
    matrix-fall 2s infinite,
    matrix-flicker 0.5s infinite;
  opacity: 0;
}

.digit:nth-child(1) {
  animation-delay: 0.1s;
}

.digit:nth-child(2) {
  animation-delay: 0.3s;
}

.digit:nth-child(3) {
  animation-delay: 0.5s;
}

.digit:nth-child(4) {
  animation-delay: 0.7s;
}

.digit:nth-child(5) {
  animation-delay: 0.9s;
}

.digit:nth-child(6) {
  animation-delay: 1.1s;
}

.digit:nth-child(7) {
  animation-delay: 1.3s;
}

.digit:nth-child(8) {
  animation-delay: 1.5s;
}

.glow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle,
      rgba(0, 255, 136, 0.1) 0%,
      transparent 70%);
  animation: matrix-pulse 2s infinite;
}

@keyframes matrix-fall {
  0% {
    transform: translateY(-50px) rotateX(90deg);
    opacity: 0;
  }

  20%,
  80% {
    transform: translateY(0) rotateX(0deg);
    opacity: 0.8;
  }

  100% {
    transform: translateY(50px) rotateX(-90deg);
    opacity: 0;
  }
}

@keyframes matrix-flicker {

  0%,
  19%,
  21%,
  100% {
    opacity: 0.8;
  }

  20% {
    opacity: 0.2;
  }
}

@keyframes matrix-pulse {

  0%,
  100% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.7;
  }
}

/* ------------------------------------ */
/* GLOBAL .start-course STYLES */
/* ------------------------------------ */

.Btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 15px;
  cursor: pointer;
  transition: all .3s;
  z-index: 30;
}

.Container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(4px);
  letter-spacing: 0.8px;
  border-radius: 15px;
  transition: all .3s;
  border: 1px solid rgba(0, 150, 255, 0.2);
  z-index: 20;
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #14376c;
  background: -moz-linear-gradient(45deg, #1e3a8a 0%, #0c4a6e 50%, #06b6d4 100%);
  background: -webkit-linear-gradient(45deg, #1e3a8a 0%, #0c4a6e 50%, #06b6d4 100%);
  background: linear-gradient(45deg, #1e3a8a 0%, #0c4a6e 50%, #06b6d4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e3a8a', endColorstr='#06b6d4', GradientType=1);
  z-index: 10;
  border-radius: 9px;
  pointer-events: none;
  transition: all .3s;
}

.Btn:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.Btn:hover .Container {
  background-color: rgba(13, 171, 255, 0.2);
}

.start-course {
  --blue: #61a6fa;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--blue);
  background: linear-gradient(to right, rgba(97, 166, 250, 0.1) 1%, transparent 40%, transparent 60%, rgba(97, 166, 250, 0.1) 100%);
  color: var(--blue);
  box-shadow: inset 0 0 10px rgba(97, 166, 250, 0.4), 0 0 9px 3px rgba(97, 166, 250, 0.1);
}

.start-course:hover {
  color: #61a6fa;
  box-shadow: inset 0 0 10px rgba(97, 166, 250, 0.6), 0 0 9px 3px rgba(97, 166, 250, 0.2);
}

.start-course:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(97, 166, 250, 0.1) 40%, rgba(97, 166, 250, 0.1) 60%, transparent 100%);
}

.start-course:hover:before {
  transform: translateX(15em);
}

.notification {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
  --color: #32a6ff;
}

.notification:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  z-index: 2;
}

.notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.notification:hover:after {
  transform: translateX(0.15rem);
}

.button-view {
  --h-button: 48px;
  --w-button: 102px;
  --round: 0.75rem;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.25s ease;
  background: radial-gradient(65.28% 65.28% at 50% 100%,
      rgba(128, 0, 128, 0.8) 0%,
      rgba(128, 0, 128, 0) 100%),
    linear-gradient(0deg, #0077B6, #0077B6);
  border-radius: var(--round);
  border: none;
  outline: none;
  padding: 12px 18px;
}

.button-view::before,
.button-view::after {
  content: "";
  position: absolute;
  inset: var(--space);
  transition: all 0.5s ease-in-out;
  border-radius: calc(var(--round) - var(--space));
  z-index: 0;
}

.button-view::before {
  --space: 1px;
  background: linear-gradient(177.95deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%);
}

.button-view::after {
  --space: 2px;
  background: radial-gradient(65.28% 65.28% at 50% 100%,
      rgba(80, 0, 80, 0.8) 0%,
      rgba(80, 0, 80, 0) 100%),
    linear-gradient(0deg, #6A0DAD, #6A0DAD);
}

.button-view:active {
  transform: scale(0.95);
}

.fold {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  height: 1rem;
  width: 1rem;
  display: inline-block;
  transition: all 0.5s ease-in-out;
  background: radial-gradient(100% 75% at 55%,
      rgba(0, 255, 255, 0.8) 0%,
      rgba(0, 255, 255, 0) 100%);
  box-shadow: 0 0 3px black;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: var(--round);
}

.fold::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 150%;
  height: 150%;
  transform: rotate(45deg) translateX(0%) translateY(-18px);
  background-color: #e8e8e8;
  pointer-events: none;
}

.button-view:hover .fold {
  margin-top: -1rem;
  margin-right: -1rem;
}

.points_wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.points_wrapper .point {
  bottom: -10px;
  position: absolute;
  animation: floating-points infinite ease-in-out;
  pointer-events: none;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 9999px;
}

@keyframes floating-points {
  0% {
    transform: translateY(0);
  }

  85% {
    opacity: 0;
  }

  100% {
    transform: translateY(-55px);
    opacity: 0;
  }
}

.points_wrapper .point:nth-child(1) {
  left: 10%;
  opacity: 1;
  animation-duration: 2.35s;
  animation-delay: 0.2s;
}

.points_wrapper .point:nth-child(2) {
  left: 30%;
  opacity: 0.7;
  animation-duration: 2.5s;
  animation-delay: 0.5s;
}

.points_wrapper .point:nth-child(3) {
  left: 25%;
  opacity: 0.8;
  animation-duration: 2.2s;
  animation-delay: 0.1s;
}

.points_wrapper .point:nth-child(4) {
  left: 44%;
  opacity: 0.6;
  animation-duration: 2.05s;
}

.points_wrapper .point:nth-child(5) {
  left: 50%;
  opacity: 1;
  animation-duration: 1.9s;
}

.points_wrapper .point:nth-child(6) {
  left: 75%;
  opacity: 0.5;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}

.points_wrapper .point:nth-child(7) {
  left: 88%;
  opacity: 0.9;
  animation-duration: 2.2s;
  animation-delay: 0.2s;
}

.points_wrapper .point:nth-child(8) {
  left: 58%;
  opacity: 0.8;
  animation-duration: 2.25s;
  animation-delay: 0.2s;
}

.points_wrapper .point:nth-child(9) {
  left: 98%;
  opacity: 0.6;
  animation-duration: 2.6s;
  animation-delay: 0.1s;
}

.points_wrapper .point:nth-child(10) {
  left: 65%;
  opacity: 1;
  animation-duration: 2.5s;
  animation-delay: 0.2s;
}

.inner {
  z-index: 2;
  gap: 6px;
  position: relative;
  width: 100%;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  transition: color 0.2s ease-in-out;
}

.inner i {
  width: 18px;
  height: 18px;
  transition: fill 0.1s linear;
}

.button-view:focus i {
  fill: white;
}

.button-view:hover i {
  fill: transparent;
  animation:
    dasharray 1s linear forwards,
    filled 0.1s linear forwards 0.95s;
}

@keyframes dasharray {
  from {
    stroke-dasharray: 0 0 0 0;
  }

  to {
    stroke-dasharray: 68 68 0 0;
  }
}

@keyframes filled {
  to {
    fill: white;
  }
}

/* Card Sizing */
.swiper-slide {
    height: 460px !important;
    transition: transform 0.3s ease;
    opacity: 0.7;
}

/* Active slide */
.swiper-slide-active {
    opacity: 1;
    transform: scale(1.05);
}

/* Card content container */
.swiper-slide > div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Card image container */
.swiper-slide .relative {
    height: 200px !important;
    min-height: 200px;
}

/* Card content */
.swiper-slide .p-6 {
    flex: 1;
    display: flex;
    flex-direction: column;
}